.square{
    width: 150px;
    height: 150px ;
    font-size: 60px;
}
body{

    /* background-image: url('https://img.freepik.com/free-vector/kids-zone-background_24908-60439.jpg?w=2000'); */
    background-image: url('https://images5.alphacoders.com/445/thumb-1920-445303.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.go{
    background: rgb(195,190,244);
    background: linear-gradient(283deg, rgba(195,190,244,1) 34%, rgba(172,204,237,1) 57%, rgba(199,60,54,1)98%);
    color:brown;
}
.go:hover{
    background: rgb(195,190,244);
    background: linear-gradient(120deg, rgba(195,190,244,1) 34%, rgba(172,204,237,1) 57%, rgba(199,60,54,1) 98%);
 
}

.score_palyer1, .score_palyer2{
    animation: shake 0.5s infinite;
    /* font-size: 4rem;
    color: black; */
  }


@keyframes shake {
    0% {
      transform: translate(1px, -2px) rotate(-1deg);
    }
    10% {
      transform: translate(-1px, 2px) rotate(-1deg);
    }
    20% {
      transform: translate(1px, 2px) rotate(0deg);
    }
    30% {
      transform: translate(3px, 2px) rotate(0deg);
    }
    40% {
      transform: translate(1px, -1px) rotate(1deg);
    }
    50% {
      transform: translate(-1px, -2px) rotate(-1deg);
    }
    60% {
      transform: translate(-3px, 1px) rotate(0deg);
    }
    70% {
      transform: translate(3px, 1px) rotate(-1deg);
    }
    80% {
      transform: translate(-1px, -1px) rotate(1deg);
    }
    90% {
      transform: translate(-3px, 0px) rotate(1deg);
    }
    100% {
      transform: translate(1px, 1px) rotate(0deg);
    }
  }
  